<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Tracker</title>
    <link rel="stylesheet" type="text/css" href="/awesome_css.css">
</head>
<body>
<h1>Welcome to Coin Tracker App</h1>
<form action="#">
    <fieldset>
        <legend>Typ transakcji i data</legend>
        <label>Typ:
            <select>
                <option>Handel</option>
                <option>Wpłata</option>
                <option>Wypłata</option>
                <option>Transfer</option>
            </select>
        </label>
        <label>Data:
            <input type="datetime-local" step="1" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}">
        </label>
    </fieldset>
    <fieldset>
        <legend>Zakup</legend>
        <label>Ilość:
            <input type="number">
        </label>
        <label>Waluta:
            <input type="text" style="text-transform: uppercase" maxlength="12">
        </label>
    </fieldset>
    <fieldset>
        <legend>Sprzedaż</legend>
        <label>Ilość:
            <input type="number">
        </label>
        <label>Waluta:
            <input type="text" style="text-transform: uppercase" maxlength="12">
        </label>
    </fieldset>
    <fieldset>
        <legend>Opłaty transakcyjne</legend>
        <label>Ilość:
            <input type="number">
        </label>
        <label>Waluta:
            <input type="text" style="text-transform: uppercase" maxlength="12">
        </label>
    </fieldset>
    <fieldset>
        <legend>Dodatkowe informacje</legend>
        <label>Komentarz:<br>
            <input type="text" maxlength="250">
        </label>
    </fieldset>
</form>
</body>
</html>