<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{atp.title}">Coin Tracker - Add Transaction</title>
    <link rel="stylesheet" type="text/css" href="/awesome_css.css">
    <link rel="stylesheet" type="text/css" href="/headerStyling.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <style>
        h3 {
            margin: 12px 24px;
        }

        textarea {
            resize: none;
            display: block;
            height: 100%;
        }

        legend {
            color: #333333;
            font-weight: 500;
        }

        .inputFieldset {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 12px;
        }

        .C\(red\) {
            color: red;
        }


        .buttonsCenter {
            display: grid;
            grid-gap: 12px;
            margin: 12px 35%;
        }

        .leftInput {
            display: inline-block;
            width: 40%;
        }

        .rightInput{
            display: inline-block;
            width: 40%;
            float: right;
        }
    </style>
</head>
<body>
<div th:replace="header.html :: header">
    <h1>Welcome to Coin Tracker App</h1>
    <h4>Data is provided by CoinGecko API</h4>
</div>
<h3 th:text="#{atp.addtransaction}">Add transaction</h3>
<!--/*@thymesVar id="transaction" type="com.aveti.CoinTracker.model.projection.TransactionWriteModel"*/-->
<form action="#" method="post" th:action="@{/addTransaction}" th:object="${transaction}">
    <fieldset>
        <legend th:text="#{atp.typeanddate}">Transaction type and date</legend>
        <label class="leftInput"><span th:text="#{atp.transactiontype}" th:remove="tag">Type:</span>
            <select style="width: 100%" th:field="*{type}" name="type">
                <option th:text="#{atp.transactiontype.t1}" value="Handel">Trade</option>
                <option th:text="#{atp.transactiontype.t2}" value="Wpłata">Deposit</option>
                <option th:text="#{atp.transactiontype.t3}" value="Wypłata">Withdraw</option>
                <option th:text="#{atp.transactiontype.t4}" value="Transfer">Transfer</option>
            </select>
        </label>
        <label class="rightInput" style="margin-top: 0"><span th:text="#{atp.date}" th:remove="tag">Date:</span>
            <input type="datetime-local" step="1" th:field="*{transactionTime}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}" required>
        </label>
    </fieldset>
    <p class="C(red)" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}">
    <div class="inputFieldset">
        <fieldset>
            <legend th:text="#{atp.buy}" style="color: mediumseagreen">Buy</legend>
            <label><span th:text="#{atp.amount}" th:remove="tag">Amount:</span>
                <input type="number" step="any" min="0" th:field="*{buyAmount}">
            </label>
            <label><span th:text="#{atp.currency}" th:remove="tag">Currency:</span>
                <input class="currency" type="text">
                <input class="currency_id" type="text"  th:field="*{buyCurrency}" th:errorclass="'Bdc(red)'">
            </label>
        </fieldset>
        <fieldset>
            <legend th:text="#{atp.sell}" style="color: indianred">Sell</legend>
            <label><span th:text="#{atp.amount}" th:remove="tag">Amount:</span>
                <input type="number" step="any" min="0" th:field="*{sellAmount}">
            </label>
            <label><span th:text="#{atp.currency}" th:remove="tag">Currency:</span>
                <input class="currency" type="text">
                <input class="currency_id" type="text" th:field="*{sellCurrency}">
            </label>
        </fieldset>
    </div>
    <div class="inputFieldset">
        <fieldset>
            <legend style="color: goldenrod"><span th:text="#{atp.fee}" th:remove="tag">Trade fee</span> <small th:text="#{atp.additioanlinfo.optional}"> - optional</small></legend>
            <label><span th:text="#{atp.amount}" th:remove="tag">Amount:</span>
                <input type="number" step="any" min="0" th:field="*{feeAmount}">
            </label>
            <label><span th:text="#{atp.currency}" th:remove="tag">Currency:</span>
                <input class="currency" type="text">
                <input class="currency_id" type="text" th:field="*{feeCurrency}">
            </label>
        </fieldset>
        <fieldset>
            <legend><span th:text="#{atp.additionalinfo}" th:remove="tag">Additional info</span> <small th:text="#{atp.additioanlinfo.optional}"> - optional</small></legend>
            <label><span th:text="#{atp.comment}" th:remove="tag">Comment:</span><br>
                <textarea maxlength="250" rows="4" th:field="*{comment}">
                </textarea>
            </label>
        </fieldset>
    </div>
    <div class="buttonsCenter">
        <button th:text="#{atp.button.add}" type="submit">Add</button>
        <button th:text="#{atp.button.reset}" type="reset">Reset form</button>
    </div>
</form>
<footer>
    <small>
        <span th:text="#{footer.api.info}" th:remove="tag">Data provided by </span>
        <a th:text="#{footer.api.info.href}" href="https://www.coingecko.com/en/api">Coin Gecko API</a>
    </small>
</footer>
</body>
<script>
    $(function () {
        $(".currency").autocomplete({
            source: "coinNameAutocomplete",
            minLength: 2,
            select: function (event, ui) {
                this.value = ui.item.label;
                $(this).next().val(ui.item.value)
                return false;
            }
        });
    });
</script>
<script>
    document.querySelectorAll(".currency").forEach(currency => {
        currency.addEventListener('focusout', () => {
            console.log(currency.nextElementSibling.value);
            console.log(currency.value);
            if (!currency.nextElementSibling.value) {
                currency.nextElementSibling.value=currency.value;
            }
        })
    })
</script>
<script type="application/javascript" src="/languageChanger.js"></script>
</html>