<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coin Tracker - Zyski zrealizowane i niezrealizowane</title>
    <link rel="stylesheet" type="text/css" href="/awesome_css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h2>Zysk/strata zrealizowane i niezrealizowane dla każdej waluty</h2>
<table>
    <thead>
        <tr>
            <th>Waluta</th>
            <th>Kwota</th>
            <th>Koszt jednostkowy</th>
            <th>Koszt zakupu</th>
            <th>Aktualna cena<br>i zmiana % 24h</th>
            <th>Aktualna wartość</th>
            <th>Stopa zwrotu</th>
            <th>Zysk/strata niezrealizowane</th>
            <th>Zysk/strata zrealizowane</th>
        </tr>
    </thead>
    <tbody>
        <!--/*@thymesVar id="gainTableRows" type="com.aveti.CoinTracker.model.GainTableRow"*/-->
        <tr th:each="tableRow : ${gainTableRows}">
            <td th:text="${tableRow.getCurrency().getName()}"></td>
            <td th:text="${@decimalFormatter.formatDecimalStripTrailingZeros(tableRow.getAmount(), 1, 8)}"></td>
            <td th:text="${@currencyFormatter.formatCurrency(@decimalFormatter.formatDecimalStripTrailingZeros(tableRow.getAverageBuyPrice(), 1, 8), #locale.US)}"></td>
            <td th:text="${@decimalFormatter.formatDecimalStripTrailingZeros(tableRow.getSummaryPrice(), 1, 8)}"></td>
            <td th:text="${tableRow.getActualPrice()} + ' ' + ${#numbers.formatPercent(tableRow.getPriceChange24h()/100, 1, 2)}"></td>
            <td th:text="${@currencyFormatter.formatCurrency(@decimalFormatter.formatDecimalStripTrailingZeros(tableRow.getActualValue(), 1, 8), #locale.US)}"></td>
            <td th:text="${#numbers.formatPercent(tableRow.getPercentageValueChange(), 1, 2)}"></td>
            <td th:text="${tableRow.getUnrealizedGains()}"></td>
            <td th:text="${tableRow.getUnrealizedGains()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>