<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Tracker - Zyski zrealizowane i niezrealizowane</title>
    <link rel="stylesheet" type="text/css" href="/awesome_css.css">
</head>
<body>
<h2>Zysk/strata zrealizowane i niezrealizowane dla każdej waluty</h2>
<table>
    <thead>
        <tr>
            <th>Waluta</th>
            <th>Kwota</th>
            <th>Średnia cena zakupu</th>
            <th>Koszt zakupu</th>
            <th>Aktualna cena<br>i zmiana % 24h</th>
            <th>Aktualna wartość</th>
            <th>Stopa zwrotu</th>
            <th>Zysk/strata niezrealizowane</th>
            <th>Zysk/strata zrealizowane</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot></tfoot>
</table>
</body>
</html>