<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coin Tracker</title>
    <link rel="stylesheet" type="text/css" href="/awesome_css.css">
    <link rel="stylesheet" type="text/css" href="/headerStyling.css">
</head>
<body>
<header>
    <nav>
        <a href="/">
            <h1 th:text="#{greeting.h1}">Welcome to Coin Tracker</h1>
            <p th:text="#{greeting.p}">Data is provided by CoinGecko API</p>
        </a>
        <ul>
            <li>
                <a href="/transactions">Lista transakcji</a>
            </li>
            <li>
                <a href="/addTransaction">Dodaj transakcję</a>
            </li>
            <li>
                <a href="/gains">Tabela zysków i strat</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>