<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tl.title}">Coin Tracker - Transactions</title>
    <link rel="stylesheet" type="text/css" href="/awesome_css.css">
    <link rel="stylesheet" type="text/css" href="/headerStyling.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <style>
        h3 {
            margin: 12px 24px;
        }

        table {
            margin: 12px 24px;
            width: calc(100% - 48px);
            display: table;
        }

        thead > tr > th {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div th:replace="header.html :: header">
    <h1>Welcome to Coin Tracker App</h1>
    <h4>Data is provided by CoinGecko API</h4>
</div>
<h3 th:text="#{tl.headerTitle}">Transactions List</h3>
<table>
    <thead>
    <tr>
        <th th:text="#{tl.th.type}">Type</th>
        <th th:text="#{tl.th.time}">Transaction time</th>
        <th th:text="#{tl.th.buyAmount}">Buy amount</th>
        <th th:text="#{tl.th.buyCurrency}">Buy currency</th>
        <th th:text="#{tl.th.sellAmount}">Sell amount</th>
        <th th:text="#{tl.th.sellCurrency}">Sell currency</th>
        <th th:text="#{tl.th.feeAmount}">Fee amount</th>
        <th th:text="#{tl.th.feeCurrency}">Fee currency</th>
        <th th:text="#{tl.th.comment}">Comment</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="transaction" type="com.aveti.CoinTracker.model.Transaction"*/-->
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.getType()}"></td>
        <td th:text="${transaction.getTransactionTime()}"></td>
        <td th:text="${@decimalFormatter.formatDecimalStripTrailingZeros(transaction.getBuyAmount(), 1, 8)}"></td>
        <td th:text="${transaction.getBuyCurrency()}"></td>
        <td th:text="${@decimalFormatter.formatDecimalStripTrailingZeros(transaction.getSellAmount(), 1, 8)}"></td>
        <td th:text="${transaction.getSellCurrency()}"></td>
        <td th:text="${@decimalFormatter.formatDecimalStripTrailingZeros(transaction.getFeeAmount(), 1, 8)}"></td>
        <td th:text="${transaction.getFeeCurrency()}"></td>
        <td th:text="${transaction.getComment()}"></td>
    </tr>
    </tbody>
    <tfoot></tfoot>
</table>
<footer>
    <small>
        <span th:text="#{footer.api.info}" th:remove="tag">Data provided by </span>
        <a th:text="#{footer.api.info.href}" href="https://www.coingecko.com/en/api">Coin Gecko API</a>
    </small>
</footer>
</body>
<script type="application/javascript" src="/languageChanger.js"></script>
</html>